venv/
.env
staticroot/
mediaroot/
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
__pycache__/
*.py[cod]
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.pot
docs/_build/
target/
*.log
*.pyc
local_settings.py
.venv
db.sqlite3
*.sqlite3
/.idea/.gitignore
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/dk-big-prize.iml
/.idea/misc.xml
/.idea/vcs.xml
.idea
.vscode/
/nvd.py
/tmp.py
.VSCodeCounter/
front-end
/output.xlsx
